# -------------------------
# Node.js
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# -------------------------
# Build / Vite Output
# -------------------------
#提出のためコメントアウト
#dist/
#build/
#*.local

# -------------------------
# Sass / CSS Cache
# -------------------------
.sass-cache/
*.css.map

# -------------------------
# VSCode / IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS / Windows Specific
# -------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# -------------------------
# Misc
# -------------------------
.DS_Store
.env
.env.*
