/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

p {
  padding-bottom: 10px;
  text-align: center;
}

.slider {
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* 矢印のスタイル調整 */
.slick-prev:before,
.slick-next:before {
  color: black; /* 白背景の場合は黒にすると見える！ */
  font-size: 30px; /* 大きくして存在感UP */
}

/* 矢印の位置調整 */
.slick-prev,
.slick-next {
  top: auto;
  left: 50%;
  bottom: -25px;
  z-index: 1000;
}

.slick-prev {
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
}
.slick-next {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}
